/* #region base */
ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: currentColor;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion */

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header > .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
      
}

.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.nav-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link.current {
    position: relative;
}

.nav-menu-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-menu-link.current {
    color: #404bbf;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #region Footer */
.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
}
/* #endregion */

/* #region Hero */
.hero
 {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: 
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-bg.jpg);
}


.hero-title {
    width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.btn:focus,
.btn:hover {
    background-color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */


/* #region Features */



.features-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.visually-hidden,
.read-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.features-item-icon {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-item-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.features-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.features-item {
    
    width: calc((100% - 24px * 3) / 4);
}

/* #endregion */

/* #region Our Team */

.our-team {
    background-color: #f4f4fd;
}



.our-team-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team-wrapper > .team-title {
    margin-bottom: 72px;
}

.our-team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 24px * 3) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-member {
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}


.team-content {
    padding: 32px 16px;
}

.our-team-position {
    text-align: center;
    padding-bottom: 8px;
}

.social-circle {
    background-color: #4d5ae5;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-team-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.member-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

/* #endregion */

/* #region Our Portfolio */


.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
      
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-img {
    margin-bottom: 32px;
}

.portfolio-item-thumb {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    

    padding: 40px 32px;
    width: 100%;
    height: 100%;

    display: flex;


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
}
.portfolio-item:hover .overlay{
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
}
/* #endregion */

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-left-part {
    display: flex;
    flex-direction: column;
    width: 264px;
    margin-right: 120px;
}
.footer-right-part {
    width: 208px;
        height: 80px;
}
.footer-flex {
    display: flex;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.social-footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.footer-social {
    fill: #fff;
    height: 40px;
    width: 40px;
}


.social-circle:hover,
.social-circle:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-social:hover {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}