/* #region base */
ul,
li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: currentColor;
}

p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

address {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

h3 {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* #endregion */

.logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header > .container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
      
}

.contacts {
    margin-left: auto;
}

.contacts-list {
    display: flex;
    gap: 40px;
}

.nav-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-menu-link:hover,
.nav-menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* #region Footer */
.footer-logo .logo-part {
    color: #f4f4fd;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
}
/* #endregion */

/* #region Hero */
.hero
 {
    background-color: #2e2f42;
        padding: 188px 0;
}

.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.hero-title {
    width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.btn {
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.btn:focus,
.btn:hover {
    background-color: #404bbf;
}
/* #endregion */


/* #region Features */



.features-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}


.visually-hidden,
.read-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.features-item-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

.features-item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.features-item {
    width: calc((100% - 24px * 3) / 4);
}

/* #endregion */

/* #region Our Team */

.our-team {
    background-color: #f4f4fd;
}



.our-team-menu {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.our-team-wrapper > .team-title {
    margin-bottom: 72px;
}

.our-team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 24px * 3) / 4);
}

.our-team-member {
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
}


.team-content {
    padding: 32px 16px;
}

.our-team-position {
    text-align: center;
    margin-bottom: 32px;
}

/* #endregion */

/* #region Our Portfolio */


.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 24px * 2) / 3);
      
}

.portfolio-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-img {
    margin-bottom: 32px;
}

.portfolio-item-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

.portfolio-description {
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
    margin-bottom: 0;
}
/* #endregion */


.footer-flex {
    display: flex;
    flex-direction: column;
    width: 264px;
}
